<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">An itsy bitsy tiny overview of the chapters</h2>
                <hr class="light">
                <p class="text-faded">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur suscipit tincidunt tincidunt. Mauris ultricies in metus at maximus. Curabitur dignissim velit suscipit magna tempus hendrerit. Proin nec tellus eget magna viverra scelerisque ac id dui. Suspendisse in diam quis eros lacinia rhoncus ut ultricies massa. Maecenas quis metus a enim luctus consectetur quis eget lectus. Maecenas pulvinar augue ut porttitor pretium. Nunc eu justo ut diam vestibulum eleifend sit amet quis justo. Morbi mattis enim vel purus porttitor consectetur. Quisque placerat justo nunc, in ultrices sapien mattis a. Vestibulum vel nulla ac felis commodo faucibus.</p>
                <a href="#article1" class="btn btn-default btn-xl">Chips</a>
                <a href="#article2" class="btn btn-default btn-xl">Burgers</a>
                <a href="#" class="btn btn-default btn-xl">Steaks</a>
                <a href="#" class="btn btn-default btn-xl">Ice cream</a>
            </div>
        </div>
    </div>
</section>
