<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Police Violence in Kenia</h1>
            <hr>
            <p>Donec euismod maximus sem, vel pulvinar libero cursus ut. Nam ante arcu, fringilla at pretium sed, mattis et lorem. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nullam id tristique nunc. Cras congue lectus non blandit pellentesque. Curabitur ligula massa, pharetra bibendum est et, pharetra mattis urna. Suspendisse potenti. </p>
            <!-- <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a> -->
        </div>
    </div>
</header>
